# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Udemy Courses\Python for Data Science Bootcamp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
